@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Edu VIC WA NT Beginner;
}

h2 {
    margin: 20px;
}

.box {
    display: inline-block;
    width: 200px;
    /* height: 200px; */
    line-height: 200px;
    background: orange;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 2em;
}

.rgb {
    /* rgb - red, green, blue */
    background: rgb(252, 207, 5);
    /* a - alpha reiškia spalvos ryškumą */
    background: rgba(252, 207, 5, 0.7);

    /* rgb skalė 0 - 255 */
    background-color: rgb(100, 75, 120);
}

.hex {
    background: #fccf05;
    background: #ffffff;
    /* hex tas pats kaip rgb */
    background: #ff0000;
    background: #00ff00;
    background: #0000ff;
    /* Amazon spalva */
    background: #FF9900;
}

.color-1 {
    background: #A459D1;
}

.color-2 {
    background: #F266AB;
}

.color-3 {
    background: #2CD3E1;
}

img {
    width: 90%;
    margin: 20px;
}